[submodule "deps/wmsy"]
	path = deps/wmsy
	url = git://github.com/asutherland/wmsy.git
[submodule "deps/activesync"]
	path = deps/activesync
	url = git://github.com/mozilla-b2g/jsas.git
[submodule "deps/bleach.js"]
	path = deps/bleach.js
	url = git://github.com/mozilla-b2g/bleach.js.git
